<div class="flex-container">

  <mat-card>
    <div class="bet-card-top">
      <img src="assets/images/vandy.png" mat-card-sm-image>
      <mat-card-content>
        <p>NBC - 7:45</p>
       <strong><p id="moneyline">-110</p></strong>
      </mat-card-content>
      <img src="assets/images/vols.png" mat-card-sm-image>
    </div>

    <div class="bet-card-top stats">
      <mat-card-content>
        <p>Vanderbilt</p>
        <p>+13.5</p>
      </mat-card-content>
      <mat-card-content>
          <p>Tennessee</p>
          <p>-13.5</p>
        </mat-card-content>
    </div>

    <mat-card-actions>
      <button id="save-bet" mat-raised-button color="primary">
        SAVE BET
      </button>
      <button (click)="openDialog()" id="place-bet" mat-raised-button>
        PLACE BET
      </button>
    </mat-card-actions>
  </mat-card>






  <mat-card>
      <div class="bet-card-top">
        <img src="assets/images/vandy.png" mat-card-sm-image>
        <mat-card-content>
          <p>NBC - 7:45</p>
         <strong><p id="moneyline">-110</p></strong>
        </mat-card-content>
        <img src="assets/images/vols.png" mat-card-sm-image>
      </div>
  
      <div class="bet-card-top stats">
        <mat-card-content>
          <p>Vanderbilt</p>
          <p>+13.5</p>
        </mat-card-content>
        <mat-card-content>
            <p>Tennessee</p>
            <p>-13.5</p>
          </mat-card-content>
      </div>
  
      <mat-card-actions>
        <button id="save-bet" mat-raised-button color="primary">
          SAVE BET
        </button>
        <button (click)="openDialog()" id="place-bet" mat-raised-button>
          PLACE BET
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
        <div class="bet-card-top">
          <img src="assets/images/vandy.png" mat-card-sm-image>
          <mat-card-content>
            <p>NBC - 7:45</p>
           <strong><p id="moneyline">-110</p></strong>
          </mat-card-content>
          <img src="assets/images/vols.png" mat-card-sm-image>
        </div>
    
        <div class="bet-card-top stats">
          <mat-card-content>
            <p>Vanderbilt</p>
            <p>+13.5</p>
          </mat-card-content>
          <mat-card-content>
              <p>Tennessee</p>
              <p>-13.5</p>
            </mat-card-content>
        </div>
    
        <mat-card-actions>
          <button id="save-bet" mat-raised-button color="primary">
            SAVE BET
          </button>
          <button (click)="openDialog()" id="place-bet" mat-raised-button>
            PLACE BET
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
          <div class="bet-card-top">
            <img src="assets/images/vandy.png" mat-card-sm-image>
            <mat-card-content>
              <p>NBC - 7:45</p>
             <strong><p id="moneyline">-110</p></strong>
            </mat-card-content>
            <img src="assets/images/vols.png" mat-card-sm-image>
          </div>
      
          <div class="bet-card-top stats">
            <mat-card-content>
              <p>Vanderbilt</p>
              <p>+13.5</p>
            </mat-card-content>
            <mat-card-content>
                <p>Tennessee</p>
                <p>-13.5</p>
              </mat-card-content>
          </div>
      
          <mat-card-actions>
            <button id="save-bet" mat-raised-button color="primary">
              SAVE BET
            </button>
            <button (click)="openDialog()" id="place-bet" mat-raised-button>
              PLACE BET
            </button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
            <div class="bet-card-top">
              <img src="assets/images/vandy.png" mat-card-sm-image>
              <mat-card-content>
                <p>NBC - 7:45</p>
               <strong><p id="moneyline">-110</p></strong>
              </mat-card-content>
              <img src="assets/images/vols.png" mat-card-sm-image>
            </div>
        
            <div class="bet-card-top stats">
              <mat-card-content>
                <p>Vanderbilt</p>
                <p>+13.5</p>
              </mat-card-content>
              <mat-card-content>
                  <p>Tennessee</p>
                  <p>-13.5</p>
                </mat-card-content>
            </div>
        
            <mat-card-actions>
              <button id="save-bet" mat-raised-button color="primary">
                SAVE BET
              </button>
              <button (click)="openDialog()" id="place-bet" mat-raised-button>
                PLACE BET
              </button>
            </mat-card-actions>
          </mat-card>

          <mat-card>
              <div class="bet-card-top">
                <img src="assets/images/vandy.png" mat-card-sm-image>
                <mat-card-content>
                  <p>NBC - 7:45</p>
                 <strong><p id="moneyline">-110</p></strong>
                </mat-card-content>
                <img src="assets/images/vols.png" mat-card-sm-image>
              </div>
          
              <div class="bet-card-top stats">
                <mat-card-content>
                  <p>Vanderbilt</p>
                  <p>+13.5</p>
                </mat-card-content>
                <mat-card-content>
                    <p>Tennessee</p>
                    <p>-13.5</p>
                  </mat-card-content>
              </div>
          
              <mat-card-actions>
                <button id="save-bet" mat-raised-button color="primary">
                  SAVE BET
                </button>
                <button (click)="openDialog()" id="place-bet" mat-raised-button>
                  PLACE BET
                </button>
              </mat-card-actions>
            </mat-card>

            <mat-card>
                <div class="bet-card-top">
                  <img src="assets/images/vandy.png" mat-card-sm-image>
                  <mat-card-content>
                    <p>NBC - 7:45</p>
                   <strong><p id="moneyline">-110</p></strong>
                  </mat-card-content>
                  <img src="assets/images/vols.png" mat-card-sm-image>
                </div>
            
                <div class="bet-card-top stats">
                  <mat-card-content>
                    <p>Vanderbilt</p>
                    <p>+13.5</p>
                  </mat-card-content>
                  <mat-card-content>
                      <p>Tennessee</p>
                      <p>-13.5</p>
                    </mat-card-content>
                </div>
            
                <mat-card-actions>
                  <button id="save-bet" mat-raised-button color="primary">
                    SAVE BET
                  </button>
                  <button (click)="openDialog()" id="place-bet" mat-raised-button>
                    PLACE BET
                  </button>
                </mat-card-actions>
              </mat-card>

              <mat-card>
                  <div class="bet-card-top">
                    <img src="assets/images/vandy.png" mat-card-sm-image>
                    <mat-card-content>
                      <p>NBC - 7:45</p>
                     <strong><p id="moneyline">-110</p></strong>
                    </mat-card-content>
                    <img src="assets/images/vols.png" mat-card-sm-image>
                  </div>
              
                  <div class="bet-card-top stats">
                    <mat-card-content>
                      <p>Vanderbilt</p>
                      <p>+13.5</p>
                    </mat-card-content>
                    <mat-card-content>
                        <p>Tennessee</p>
                        <p>-13.5</p>
                      </mat-card-content>
                  </div>
              
                  <mat-card-actions>
                    <button id="save-bet" mat-raised-button color="primary">
                      SAVE BET
                    </button>
                    <button (click)="openDialog()" id="place-bet" mat-raised-button>
                      PLACE BET
                    </button>
                  </mat-card-actions>
                </mat-card>

                <mat-card>
                    <div class="bet-card-top">
                      <img src="assets/images/vandy.png" mat-card-sm-image>
                      <mat-card-content>
                        <p>NBC - 7:45</p>
                       <strong><p id="moneyline">-110</p></strong>
                      </mat-card-content>
                      <img src="assets/images/vols.png" mat-card-sm-image>
                    </div>
                
                    <div class="bet-card-top stats">
                      <mat-card-content>
                        <p>Vanderbilt</p>
                        <p>+13.5</p>
                      </mat-card-content>
                      <mat-card-content>
                          <p>Tennessee</p>
                          <p>-13.5</p>
                        </mat-card-content>
                    </div>
                
                    <mat-card-actions>
                      <button id="save-bet" mat-raised-button color="primary">
                        SAVE BET
                      </button>
                      <button (click)="openDialog()" id="place-bet" mat-raised-button>
                        PLACE BET
                      </button>
                    </mat-card-actions>
                  </mat-card>











  
