<mat-toolbar class="fixed-header" fxLayout="row">

  <div>
    <span>
      <mat-icon>bookmark
      </mat-icon>
    </span>
    <span routerLink="/boards" routerLinkActive="active">bannerbets</span>
  </div>

  <div class="menu-items">
      <a class="mat-menu-item" mat-menu-item routerLink="/users" routerLinkActive="active">users</a>
    <a class="mat-menu-item" mat-menu-item routerLink="/boards" routerLinkActive="active">odds</a>
    <a class="mat-menu-item" mat-menu-item routerLink="/login" routerLinkActive="active">login</a>

  </div>

</mat-toolbar>
<router-outlet></router-outlet>

  
<div class="footer">
    <div class="footer-links">
        <h2 class="bottom-bb-title">bannerbets</h2>
        <ul>
          <li>Odds</li>
          <li>Sign Up</li>
        </ul>
    </div>
  </div>