
mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.mat-menu-item {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}

.mat-menu-item:hover {
  background: none;
}

mat-icon {
  margin-right: .8rem;
}

.menu-items {
  display: flex;
  justify-content: space-around;
}

.footer {
  background: #d3d3d3;
  height: 3rem;
  bottom: 0;
}

.footer-links {
  float: right;
  margin-right: 1rem;
}

.bottom-bb-title {
  color: black;
}
