mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #a8a8a8;
}

.mat-menu-item {
  color: white;
  text-decoration: none;
}

mat-icon {
  margin-right: .8rem;
}

.footer {
  background: #d3d3d3;
  height: 16rem;
}

.footer-links {
  float: right;
  margin-right: 1rem;
}

ul {
  text-decoration: none;
  color: white;
}

.bottom-bb-title {
  color: white;
}
