<div class="center" fxLayout="column" fxLayoutAlign="center center">

  <h4> Become a member of bannerbets to save, share and chat about your favorite plays of the day!
  </h4>
  <p> Social media for serious fans.</p>

  <mat-form-field>
    <mat-label for="email">Email</mat-label>
    <input matInput name="email" for="email" type="text" [(ngModel)]="email" required>
    <mat-error>Please enter your email. No password required.</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="emailSent" (click)="sendEmailLink(email)">
    Get Login Link
  </button>

</div>
