<mat-card>
  <h4> Become a member of bannerbets to save, share and chat about your favorite plays of the day!
  </h4>
  <p> Social media for serious fans.</p>
  <div class="login-action">
  <mat-card-content>
    <label for="email" class="label">Passwordless Auth</label>
    <br>
    <mat-form-field>
      <input matInput type="email" class="input" [(ngModel)]="email">
    </mat-form-field>
  </mat-card-content>


  <mat-card-actions>
    <button mat-raised-button
    [disabled]="emailSent" (click)="sendEmailLink(email)">

      Get Login Link

    </button>
  </mat-card-actions>
</div>

</mat-card>
