<app-carousel></app-carousel>

<app-odds></app-odds>

<div class="row">
    <div class="column left" style="background-color: white;">
      <h2>News and Updates</h2>
      <p>Some text..</p>
    </div>
    <div class="column">
        <mat-icon>toc
          </mat-icon>
    </div>
  </div>


<div class="row">
  <div class="column left" style="background-color: white;">
    <h2>Charts and Team Stats</h2>
    <p>Some text..</p>
  </div>
  <div class="column">
      <mat-icon>trending_up
        </mat-icon>
  </div>
</div>

<div class="row">
    <div class="column left" style="background-color: white;">
      <h2>Player Profiles</h2>
      <p>Some text..</p>
    </div>
    <div class="column">
        <mat-icon>people
          </mat-icon>
    </div>
  </div>


<div class="footer">
    <h2>Footer</h2>
  </div>