<!-- <mat-expansion-panel>
  <mat-expansion-panel-header>
    This is the expansion title
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

  <mat-action-row>
    <button mat-button>Click me</button>
  </mat-action-row>
</mat-expansion-panel> -->

<mat-expansion-panel>
  <img class="sm-profile-pic" src="" alt="">
  <mat-expansion-panel-header>
    Username
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
  <p>Jon Snow</p>
   <p>I like Michigan's new quarterback. I think the Wolverines get Ohio State by 6 in overtime!</p>
  </ng-template>
</mat-expansion-panel>
